#wrap-form-comment {
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    height:300px;
}


/*@ 评论列表样式 @*/
#wrap-form-comment, #wrap-comments-list, .comments_length, .checklogin { padding:0!important; }
.comment_content { min-height: 150px; max-width: 100%; margin-bottom: 20px; }
.comments_one { padding: 8px 10px!important; border-bottom: 1px solid #DEDEDE; }
.comments_one:first-child { border-top: 1px solid #DEDEDE; padding-top: 15px; }
.comment_parent { padding:10px 0!important; }
.comment_parent .media-body p { max-width: 800px }
.comment_child { padding:10px 0!important; float: right!important; }
.media-object { border-radius:20%; }
.pull-left { padding: 3px 10px 3px 5px; }
.reply_btn { border-left: 2px solid #777; padding-left: 5px; }
.comment-quote { border-left: 3px solid #9ce8f8; padding-left: 10px; color: #afafaf; }
.pagenum { color: #999; font-size: 10px; }

h6.media-heading {
    color: #00a9e0;
}